/.idea
/.vscode
/vendor
*.log
# .env
/runtime/cache
/runtime/log
/runtime/temp
/runtime/temp
/runtime/nginx/log
/runtime/storage
/runtime/*.php
composer.lock
/config/lincms.php
/config/paa.php
/config/annotation.php
/public/annotation.json
/database
